<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Informational Site</title>
</head>
<body>
    <h1>About</h1>
    <h2><p>Kliment Kirk was born in 2003 with the mission to save the world.</p>
        <p>His contributions are respected and known around the world. He continues to leave his mark on today's world.</p>
    </h2>
</body>
</html>